@import '../../styles/colors.scss';

.wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0 8px;
  padding: 0;
  input[type=text]{
    background: transparent;
    outline: transparent;
    border: 0;
    color: $white;
    width: 100%;
    &::placeholder{
      color: $secondary;
      font-weight: bold;
    }
  }
}