@import '../../styles/main.scss';

.body{
  display: flex;
  width: 100%;
  .left{
    min-width: 220px;
  }
  .right{
    min-width: 300px;
  }
}

@media only screen and (max-width: $mobileBreakPoint) {
  .left, .right {
    display: none;
  }
}