@import '../../styles/colors.scss';

.wrapper{
  display: flex;
  width: 100%;
  gap: 0 16px;
  .picture{
    border: 2px solid $accent;
    margin-bottom: 8px;
  }
  .data{
    display: flex;
    flex-direction: column;
    .name{
      color: $white;
      font-size: 14px;
    }
    .time{
      font-size: 14px;
      color: $secondary;
    }
  }
}