@import '../../styles/main.scss';
@import '../../styles/colors.scss';

.wrapper{
  background: $primaryDark;
  border-radius: $mainRadius;
  margin-bottom: 16px;
  .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
  }
  .body{
    padding: 0 16px;
    padding-bottom: 16px;
    .topic{
      display: flex;
      align-items: center;
      color: $white;
      margin: 16px 0;
      span{
        margin-left: 16px;
        b{
          color: $accent;
          font-weight: 400;
        }
      }
    }
  }
}
  