@import '../../styles/main.scss';
@import '../../styles/colors.scss';

.wrapper{
  background: $primaryDark;
  border-radius: $mainRadius;
  color: $white;
  margin-bottom: 16px;
  .head{
    gap: 0 16px;
    .userdata{
      .headline{
        span{
          margin-right: 4px;
        }
        .username{
          font-weight: bold;
        }
        .posttype{
          color: $accent;
        }
      }
      .time{
        color: $secondary;
        font-size: 14px;
      }
    }
  }
  
  .body{
    padding: 0 16px;
    padding-bottom: 16px;
    .posttext{
      padding: 16px 0;
    }
    .picturegrid{
      position: relative;
      display: grid;
    }
  }
}
  