.wrapper{
  display: block;
  margin: 32px 0;
  a{
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    i:first-of-type{
      margin-right: 16px;
      font-style: normal;
    }
  }
}