@import '../../styles/colors.scss';

.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 450px;
  background-color: $primaryDark;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  .cover{
    display: flex;
    width: 100%;
    height: 380px;
    position: relative;
  }
  .user{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 32px;
    gap: 16px;
    .mainProfilePicture{
      border-radius: 128px;
      border: 6px solid $primaryDark;
    }
    span{
      color: white;
      font-weight: bold;
    }
  }
  .profileNav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: center;
    list-style-type: none;
    color: $white;
    margin: auto;
    li{
      display: flex;
      align-items: center;
      height: 100%;
      border-bottom: 4px solid $primaryDark;
      border-top: 4px solid $primaryDark;
      padding: 0 16px;
    }
    .active{      
      border-top: 4px solid #141e35;
      background: #141e35;
      border-bottom: 4px solid $accent;
    }
  }
}