@import '../../styles/main.scss';
@import '../../styles/colors.scss';

.wrapper{
  background: $primaryDark;
  height: auto;
  border-radius: $mainRadius;
  overflow: hidden;
  margin-bottom: 16px;

  .head{
    position: relative;
    height: 200px;
    img{
      border-radius: 16px;
    }
  }
  .date{
    position: relative;
    left: 0px;
    top: 0px;
    width: 60px;
    .month{
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-weight: bold;
      font-size: 14px;
      background: $accent;
      height: 25px;
      border-radius: 4px 4px 0 0;
    }
    .day{
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background: rgba(0,0,0,.6);
      height: 35px;
      font-size: 20px;
      border-radius: 0 0 4px 4px;
    }
  }
  .eventData{
    padding: 16px 22px;
    h4{
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
      color: $white;
      font-size: 18px;
    }
    span{
      color: $secondary;
      font-size: 14px;
      font-weight: bold;
    }
  }
}