@import '../../styles/colors.scss';

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0 16px;
  margin: 16px 0px;
  .picture{
    width: 44px;
    height: 44px;
    border-radius: 100px;
  }
  .name{
    color: $white;
    text-align: left;
    flex: 1;
  }
  .status{
    background-color: $green500;
    width: 6px;
    height: 6px;
    border-radius: 12px;
  }
}