@import '../../styles/colors.scss';

.wrapper{
  background: $primaryDark;
  border-radius: 4px;
  .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
  }
}
  