@import '../../../styles/colors.scss';

.rightSection {
  background: $primaryDark;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  border-left: 1px solid $primaryLight;
  padding: 16px;
  .stories{
    width: 100%;
    min-height: 160px;
    list-style-type: none;
    overflow-y: scroll;
    margin-bottom: 16px;
  }
  .contacts{
    width: 100%;
    padding: 32px 24px;
    border-bottom: 1px solid $secondary;
    list-style-type: none;
  }
  .contacts:last-of-type{
    padding: 0px 24px;
    border: 0;
    flex: 1;
  }
  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $secondary;
    padding: 24px;
    font-size: 12px;
    border-top: 1px solid $secondary;
    gap: 0 16px;
  }
}