@import "../colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  .middleSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background: $primary;
    .search{
      display: flex;
      width: 100%;
      align-items: center;
      height: 64px;
      padding: 0 16px;
      background: $primaryDark;
    }
    section{
      padding: 16px;
      width: 100%;
      max-width: 1180px;
      min-width: 320px;
    }
    .mainGrid{
      display: grid;
      grid-template-columns: 4fr 8fr;
      grid-template-rows: repeat(2, minmax(min-content, max-content));
      grid-template-areas: "b1 b2";
      gap: 16px;
      .block1{ 
        grid-area: b1; 
      }
      .block2 {
        grid-area: b2;
      }
    }
  }
}  