/* Color Tokens */

/* Base Colors */
$white: #fff;
$black: #000;

/* Neutral */
$neutral300: #d4d4d4;


/* Slate */
$slate500: #64748b;
$slate700: #334155;
$slate800: #1e293b;
$slate900: #0f172a;

/* Orange */
$orange500: #fdba74;

/* Green */
$green500: #22c55e;

/* Sky */
$sky500: #0ea5e9;
$sky700: #0369a1;

/* App Colors */
$primaryLight: $slate700;
$primary: $slate800;
$primaryDark: $slate900;
$secondary: $slate500;
$accent: $sky500;
$accentDark: $sky700;